header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow-sm
        .container
            a.navbar-brand.text-primary.fw-bold.fs-4(href="/admin") Portfolio Data
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.ms-auto.align-items-center
                    li.nav-item
                        a.nav-link.mynav(href="/experiences/list") Experience
                    li.nav-item
                        a.nav-link.mynav(href="/projects/list") Projects
